@import url('https://fonts.googleapis.com/css?family=Montserrat:900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');

html,body {
  height:100%;
  margin:0;
  padding:0;
}

*{
    
    box-sizing: border-box;
}


body{
 margin:0;padding:0;
  height: 100%;
font-family: 'Open Sans', sans-serif; 
}
/*VID BACKGROUND */
.v-header {
    height : 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container2 {
    max-width: 1220px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center!important;
    align-content: center;

}
.fullscreen-video-wrap {
    position :absolute;
    top: 60;
    left : 0;
    width: 100%;
    height : 100vh;
    overflow: hidden;
   
}

.fullscreen-video-wrap video {
    min-width: 100%;
    min-height: 100%;
   
}


.header-overlay {
    height : 100vh;
    width : 100vw;
    position: absolute;
    top: 60;
    left : 0;
    background: #000000;
    z-index: 1;
    opacity: 0.75;
   
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-size: 80px;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight :bolder;
    padding-bottom:0.3rem;
    color: yellow;
   
    float: center !important;
}



/*.header-content h1 span {
    font-size:300%;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif;
    font-weight :bolder;
    padding-bottom:0.1rem;
    color: yellow;
    float: center !important;
}

.header-content h1 {
    font-size:300%!important;
    letter-spacing: 0.1em;
    font-family: 'Raleway', sans-serif!important;
    font-weight :normal;
    padding-bottom:0.1rem;
    color: #fff;
    float: center !important;
}
*/

.header-content p{
    font-size: 1.8rem;
     letter-spacing: 0.1em;
    display : block;
    padding-bottom:0.1rem;
    font-family: 'Raleway', sans-serif;
}



/* VID BACKGROUND */






#main_container {
 background: url("../img/background.jpg")  center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100vh; 
}








.title_colum {
        display: block;
    }


#sf {
    display: block;
    margin-top: 0 !important;
    width: 100%}
#sf .container {
    width: 100%}
#sf .col-md-6 {
    margin: 0;
    padding: 15px;
}
#sf .bio_wrapper {
    background-color: #000;
    height: auto;
}
#sf .bio_wrapper:hover {
    background-color: #04facb;
    transition: 0.6s linear;
}
#sf .education_wrapper {
    background-color: #000;
    height: auto;
    border-right: solid 1px #fff;
    border-left: solid 1px #fff;
}
#sf .education_wrapper:hover {
    background-color: #fefa03;
    transition: 0.6s linear;
}
 
#sf .skills_wrapper {
    background-color: #000;
    height:auto;
}
#sf .skills_wrapper:hover {
    background-color: #5014a7;
    transition: 0.6s linear;
}

#sf .port_wrapper {
    background-color: #000;
    height:auto;
}
#sf .port_wrapper:hover {
    background-color: #010b24;
    transition: 0.6s linear;
}

#sf .hob_wrapper {
    background-color: #000;
    height: auto;
     border-right: solid 1px #fff;
    border-left: solid 1px #fff;
}
#sf .hob_wrapper:hover {
    background-color: #6dff26;
    transition: 0.6s linear;
}

#sf .contact_wrapper {
    background-color: #000;
    height:auto;
}
#sf .contact_wrapper:hover {
    background-color: #e30b92;
    transition: 0.6s linear;
}

#sff {
    display: block;
    margin-top: 0 !important;
    width: 100%}
#sff .container {
    width: 100%}
#sff .col-md-6 {
    margin: 0;
    padding: 15px;
}
#sff .about_wrapper {
   background: url("../img/aside1.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}

#sff .education2_wrapper {
   background: url("../img/aside2.jpg") no-repeat center top;
    width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}
#sff .skill2_wrapper {
   background: url("../img/aside3.jpg") no-repeat center top;
    width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}

#sff .hobby2_wrapper {
   background: url("../img/aside5.jpg") no-repeat center top;
    width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}

#sff .contact2_wrapper {
   background: url("../img/aside6.jpg") no-repeat center top;
    width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}

#sff .clients2_wrapper {
   background: url("../img/aside4.jpg") no-repeat center top;
    width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}

#sff .port2_wrapper {
   background: url("../img/aside7.jpg") no-repeat center top;
    width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height: 100vh; 
}

#sff  {
    color:#333333;
    font-weight: normal !important;
    font-family: 'Raleway', sans-serif!important;
} 


.edu_title {
    letter-spacing: 0.17em;
    color : #585858;
    text-align: center;  
}

.edu_title h3 {
    margin-top: 4%;
    font-weight: 800;
}

.edu_title h4 {

    font-weight: 100 !important;
}

#sff .about_wrapper2 {
    height : auto;
}

#sff p {
    letter-spacing: 0.15em;
}
.mydiv {
    margin-top: 73%;
    display: block;
     text-align:center;
    height: auto;
    margin-left: 7%;
    position: relative;
     font-family: 'Montserrat', sans-serif!important; 
    letter-spacing: 0.2rem;
}
.break_text{
    /*
    left : 20%;
    word-wrap: break-word;
    font-style: italic;
    text-align:center;
    
    */
    
    color: #fff;
    font-family: 'Montserrat', sans-serif!important; 
    font-size: 4rem;
    font-weight: bold;
     top: 50%;
  
   -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}
    

 

 .mydiv2 {
        display: none;
    }
    

.carousel-item .img-fluid {
    width: 100%;
    height: 100%;
}

.carousel-control-prev{
    top: -30% !important;
}
.carousel-control-next{
    top: -30% !important;
}


@media (max-width: 737px) { 
    
    .header-content h1 {
    font-size: 50px;
    letter-spacing: 0.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight :bolder;
    padding-bottom:0.1rem;
    color: yellow;
    float: center !important;
}
    
    .title_colum {
        display: none;
    } 
    .me p{
        margin-left: 15%;
    }
    
    #sf .bio_wrapper {
    background-color: #04facb;
    height: auto;
}

#sf .education_wrapper {
    background-color: #fefa03;
    height: auto;
    border: none; 
}
 
#sf .skills_wrapper {
    background-color: #5014a7;
    height: auto;
}

#sf .port_wrapper {
    background-color: #010b24;
    height: auto;
}

#sf .hob_wrapper {
    background-color: #6dff26;
    height: auto;
     border: none;
}

#sf .contact_wrapper {
    background-color: #e30b92;
    height: auto;
}
 
    .iconz  {
        width: 150px;
        height : 150px;
        margin-bottom: 0px;
    }
    .iconz2 {
        margin-top: -15px;
    }
    
    #sff .about_wrapper {
   background: url("../img/aside11.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh;
}

 #sff .education2_wrapper {
   background: url("../img/aside22.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh; 
}  
#sff .skill2_wrapper {
   background: url("../img/aside33.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh; 
}     
    
#sff .hobby2_wrapper {
   background: url("../img/aside55.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh; 
}         
  
#sff .contact2_wrapper {
   background: url("../img/aside66.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh; 
}
    
    #sff .clients2_wrapper {
   background: url("../img/aside44.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh; 
}
    
      
    #sff .port2_wrapper {
   background: url("../img/aside77.jpg") no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    min-height : 50vh; 
}
    
    .mydiv {
        display: none;
    }
    
    .mydiv2 {
        display: block;
        text-align: center !important;
        margin: auto;
    }
    
    .mydiv2 h2 {
        color :#fff;
        letter-spacing: 0.5rem;
        margin: 20% auto;
        text-align: center;
        font-weight: lighter;
        font-size: 200%;
    }
}

/****new****/

body, html {
    height: 100%;
}

#left {
   
    top: 0;
    bottom: 0;
}

.bg-dark {
    background-color: aqua;
}



/*********MENU********/
/*********MENU********/

a {
  display: block;
  width: 100%;
  height: 100%;
}

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
    z-index: 999;
 
    
}

.menu-opener {
        
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 64px;
}
.menu-opener:hover, .menu-opener.active {
  background: #f1c40f ;
    z-index: 1000;
}


.menu-opener-inner {
  background: #fff;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
    
  background: white;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: #000 /*17b7c1*/;
  color: transparent;
  height: 64px;
  position: absolute;
  top: 2%;
  left: 1%;
   opacity: .7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: -1;
}
.menu.active {
  width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 1.6rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}
.menu-link li {
  margin: auto;
}

@media screen and (max-width: 768px) {
  .menu {
    height: auto;
  }
  .menu-inner {
    display: block;
  }
  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }
  .menu.active {
    width: -webkit-calc(100% - 0.5rem);
    width: calc(100% - 0.5rem);
  }
.me img {
        display: none;
    }
    
    .me2 img {
        display: block;
        height: 100%;
       
    }

}




@media screen and (max-width: 768px) {
    
    
    #main_container img {
    margin-top:45%;    
    height: auto;
}
    
}

@media screen and (max-width: 1024px) { 
    .title_colum2  {
        display: none;
    }
}


/*************/
.hidden {
  opacity:0;
}
.console-container {
 font-family: 'Raleway', sans-serif!important;
  font-size:3em;
  text-align:center;
  height:200px;
  width:300px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
    left:0;
    right:0;
  margin: auto;
    padding-top:1.8em;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:0.3em;
  left:10px;
}